.views-field-field-movies-image {
  display: inline-block;
  text-align: center;
}

.views-col {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  margin-right: 7%;
}

.views-col:last-child {
  margin-right: 0;
}

.films-image {
  width: 250px;
  height: 100px;
}

.views-field-title {
  font-size: 27px;
  font-family: Impact,Charcoal, sans-serif;
  margin-bottom: 3%;
}
