.views-field-field-movies-image {
  width: 100px;
  height: auto;
  display: inline-block;
  text-align: center;
}

.views-col {
  max-width: 8%;
  margin: 0 auto;
  margin-right: 8%;
  display: inline-block;
  text-align: center;
}

.views-col:last-child {
  margin-right: 0;
}
